[submodule "lib/emblib"]
	path = lib/emblib
	url = https://github.com/lterzic/emblib
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "lib/minipilot-proto"]
	path = lib/minipilot-proto
	url = https://github.com/lterzic/minipilot-proto
