[submodule "external/emblib"]
	path = external/emblib
	url = https://github.com/lterzic/emblib
	shallow = true
[submodule "external/nanopb"]
	path = external/nanopb
	url = https://github.com/nanopb/nanopb
	shallow = true
[submodule "external/minipilot-proto"]
	path = external/minipilot-proto
	url = https://github.com/lterzic/minipilot-proto
	shallow = true
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
